// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$background:   #F4F2F4  !default;
$foreground:   #0B0D0B  !default;
$primary:      #C14A66  !default;
$secondary-bg: #695A76  !default;

// Typography
$font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;